deploy/*
cake/*
tmp/
.buildpath
.project
.settings/
.idea/
app/config/core.php
app/webroot/jscache/*
app/webroot/csscache/*
app/webroot/img/cache/*
app/webroot/img/tmp/*
app/webroot/img/post/*
app/webroot/img/user/*
app/webroot/img/paper/*
app/webroot/jQuery-File-Upload/*